#fortune-box {
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}
#fortume-teller {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px
}

.red-theme {
    color: red;
    background-color: rgba(253, 15, 15, 0.403);
    border: 5px solid rgb(174, 15, 15);
    font-size: 15px;
    font-family: 'Georgia', serif;
}

.blue-theme {
    color: blue;
    background-color: rgba(15, 120, 253, 0.403);
    border: 5px solid rgb(15, 80, 174);
    font-size: 18px;
    font-family: 'Verdana', sans-serif;
}

.green-theme {
    color: green;
    background-color: rgba(15, 253, 95, 0.403);
    border: 5px solid rgb(15, 174, 70);
    font-size: 17px;
    font-family: 'Tahoma', sans-serif;
}

.yellow-theme {
    color: #b8860b;
    background-color: rgba(253, 220, 15, 0.403);
    border: 5px solid rgb(174, 150, 15);
    font-size: 19px;
    font-family: 'Courier New', monospace;
}