#task-input {
    width: 500px;
    height: 30px;
    padding: 10px;
    font-size: 20px;
}

.single-task {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-task>input {
    width: 25px;   
    height: 25px;  
    cursor: pointer;
}

.todoList {
    width: fit-content;
    margin: auto;
    margin-top: 100px;
}

#todo-input {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}